
<!DOCTYPE HTML>
<html>
<head>
  <title>Reset Password Form  Responsive Widget Template | Home :: w3layouts</title>
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
  <!-- Custom Theme files -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <!--google fonts-->
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!--- Include the above in your HEAD tag -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<a href="/gallery" >Go back </a>
<!--element start here-->
<div class="form-gap"></div>
<div style="margin-top: 170px;" class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <!-- <h3><i class="fa fa-lock fa-4x"></i></h3> -->
            <h3 style="background: red; color : white ;" > {{ uploaded }} </h3>
            <h2 class="text-center">Image Upload </h2>
<!--            <p>Artists can reset your password here.</p>-->
            <div class="panel-body">

              <form id="register-form" action="/artistupload" role="form" autocomplete="off" class="form" method="POST">

                  <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="aid" id="aid" placeholder="Artist Id" required>
                  <input class="form-control" type="text" name="imgid" id="imgid" placeholder="Image id">


                  <input class="btn btn-lg btn-primary btn-block" type="file" name="fileupload" value="fileupload" id="fileupload">
                        <input class="form-control" type="text" name="name" id="name" placeholder="Image Name">
                        <input type="date" id="start" name="date" value="date" min="2018-01-01" max="2019-12-31">
                        <input class="form-control" type="text" name="dest" id="dest" placeholder="Destination">
                        <input class="form-control" type="text" name="cost" id="cost" placeholder="Cost">
<!--                  <label for="fileupload"> Select a file to upload</label>-->
                        <div class="form-group">
                  <br><input type="image" class="btn btn-lg btn-primary btn-block" src="/wp-contenxt/uploads/sendform.png" alt="Submit" width="100">
                        </div>

<!--                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>-->
<!--                    <input id="email" name="email" placeholder="email address" class="form-control"  type="email" required>-->
                  </div>
                </div>

<!--                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send Mail" type="submit">-->


                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copy-right">
  <p>© 2019 Reset RedArt All rights reserved.</p>
</div>

<!--element end here-->
</body>
</html>