<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artist Details</title>
    <link id="default-css" rel="stylesheet" href="style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="table.css">
    
</head>
<body >
  <form>
    <h2 style="text-align-last: center;
    background-color: lightslategrey;
    -webkit-text-stroke-width: thin;
    -webkit-text-emphasis-style: triangle;" >ARTIST DETAILS</h2>
<input style="width: 80px; padding: 10px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: white; color: #000; border-radius: 8px; border: 1px solid #999; font-size: 100%;" type="button" value="Home" onclick="window.location.href='/admin'" />
    <a href="/art_delete"><input style="width: 80px; padding: 10px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: white; color: #000; border-radius: 8px; border: 1px solid #999; font-size: 100%;" type="button" value="Delete"/></a>
     <a href=""><input style="width: 80px; padding: 10px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: white; color: #000; border-radius: 8px; border: 1px solid #999; font-size: 100%;" type="button" value="Edit" /></a> 
</form>
    <table border="5px" style="padding : 5px; align : center;" >
        <thead>
          <tr>
              <th scope="col" >Artist ID</th>
              <th scope="col" >First Name</th>
              <th scope="col" >Phone Number</th>
              <th scope="col" >Email</th>
          </tr>
        </thead>

        <tbody>
          {{#if data }}
             {{#each data }}
          <tr>
            
            <td > {{ this.userid }} </td>
            <td > {{ this.a_namef }} </td>
            <td > {{ this.a_phoneno }} </td>
            <td > {{ this.a_email }} </td>
                
          </tr>
           {{/each }}
           {{/if}}
          
        </tbody>
      </table>
</body>
</html>